@media (max-width: 1100px) {
    main {
        grid-template-columns: .1fr 1fr .1fr;
    }

    header {
        margin: 1.5em;
    }

    footer {
        grid-column: 1 / span 3;
    }

    header, #penumbra, #westing, #fowl, #handbook {
        grid-column: 2;
    }

    header, #mixed-up, #penumbra, #endymion, #westing,
    #vermeer, #fowl, #topsecret, #handbook, #checklist {
        grid-row: unset;
    }
}

@media (max-width: 600px) {
    .thoughts {
        grid-row: 2;
        margin: 1em;
        text-align: center;
    }

    .even {
        grid-column: unset;
    }

    .even.thoughts {
        margin: 1em;
        text-align: center;
    }

    .list.thoughts {
        text-align: left;
    }

    .checklist-list {
        column-count: 1;
    }

    img {
        margin-bottom: 0;
        place-self: center;
    }
}